@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Civilization.ViewModels
@model RegisterViewModel

<form action="RegisterView" class="register">
    <label for="usernameReg">Username:</label>
    <input type="text" name="usernameReg" />
    <label for="password1">Password:</label>
    <input type="password" name="password1" />
    <label for="passwordConfirm">Password:</label>
    <input type="password" name="passwordConfirm" />
    <button type="submit">Submit</button>
</form>
<div id="result5"></div>

